body {
    font-family: $font-family-main;
    font-size: 16px;
    font-weight: 400;
    color: $main-content-color;
}

a {
    color: $main-content-color;
    &:hover {
        color: $main-color;
        text-decoration: none;
    }
}
svg {
    fill: $main-color;
}

ul {
    li {
        list-style: none;
    }
    padding: 0;
    margin: 0;
}