.header {
    &-top {
        height: 40px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $main-color;
        &-left {
           .header-info {
            transition: all .5s;
                margin-right: 32px;
                a {
                    margin-left: 4px;
                    font-size: $font-size-header;
                    line-height: 18px;
                    font-weight: 600;
                    color: $color-grey;
                    transition: all .5s;
                }
                svg {
                    transition: all .5s;
                }
                &:hover {
                    transform: scale(1.1);
                    a {
                        color: $main-color;
                    }
                    svg {
                        transform: rotate(720deg);
                    }
                }
           }
        }
        &-right {
            .shopping-cart {
                position: relative;
                padding: 0;
                cursor: pointer;
                &::after {
                    content: attr(cart-total);
                    height: 18px;
                    width: 18px;
                    line-height: 18px;
                    text-align: center;
                    display: block;
                    font-size: 10px;
                    background-color: $main-color;
                    color: $color-white;
                    border-radius: 50%;
                    border: 1px solid $color-white;
                    position: absolute;
                    left: 15px;
                    top: -2px;
                    font-weight: 600;
                    box-sizing: content-box;
                }
            }
        }
        
    }
    &-bottom {
        height: 70px;
        display: flex;
        align-items: center;
        .nav-custom {
            .navbar-brand {
                img {
                    height: 40px;
                }
            }
            .nav-item {
                .nav-link {
                    font-size: 16px;
                    font-weight: 700;
                    color: $color-grey;
                    padding: 8px 24px;
                }
                &.active {
                    .nav-link {
                        color: $main-color;
                    }
                }
            }
            .custom-search {
                position: relative;
                input {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    box-sizing: border-box;
                    height: 32px;
                    width: 207px;
                    border-radius: 32px;
                    border: 1px solid $main-color;
                }
                button {
                    height: 16px;
                    width: 16px;
                    padding: 0;
                    position: absolute;
                    display: flex;
                    border: 0;
                    align-items: center;
                    top: 50%;
                    right: 12px;
                    transform: translateY(-50%);
                }
            }
            #navbarMain {
                flex-grow: 0;
            }
        }
    }
}

@media (min-width: 992px) {
    .header-bottom {
        .nav-custom {
            .navbar-nav {
                margin-top: -8px;
                margin-left: -15px;
            }
            &>.custom-search {
                padding-bottom: 10px;
                button {
                    top: 42%;
                }
            }
        }
    }
}